/* Site Configuration */

.imageComponent {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.siteCameraIcon {
    right: 17px !important;
    color: white !important;
    position: relative !important;
    background: #1a73e8 !important;
    padding: 5px !important;
    border-radius: 50% !important;
}

.siteAttachmentBox{
    border: 1px solid grey;
    text-align: -webkit-center;
}

.subbox{
    border: 1px dashed grey;
    margin: 5px;
}

.siteAttachments{
    padding: 10px 33px;
    width: 190px;
    margin: 10px;
    background: #f1f1f1;
    border-radius: 50px;
    display: flex;
    justify-content: space-evenly;
}

.inputLabels{
    font-size: 21px;
    font-weight: 600;
}

.previewImage{
    padding: 10px;
    height: 64px;
    display: flex;
    justify-content: center;
}

.siteCameraIconFavicon {
    right: 19px !important;
    color: white !important;
    height: 18px;
    position: relative !important;
    background: #1a73e8 !important;
    padding: 3px !important;
    border-radius: 50% !important;
    top: 41px;
}

.cameraAltIconFavicon {
    right: 16px !important;
    color: white !important;
    position: relative !important;
  background-color: #E8661B !important;
    padding: 1px !important;
    border-radius: 50% !important;
    top: 44px;
    font-size: 15px !important;
}

.cameraAltIconLogo {
    right: 25px !important;
    color: white !important;
    position: relative !important;
  background-color: #E8661B !important;
    padding: 2px !important;
    border-radius: 50% !important;
    top: 35px;
    height: 23px;
}

.cameraIconMain{
    display: flex;
    justify-content: center;
}

.siteLoadingButton {
    width: 103px;
}

/* E-mail configuration */
.listEmailPageBox {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tableContainerMainClass{
    padding: "20px";
}

.tableHeadingFontWeight{
    font-weight: 600;
}

.allEmailCountStyle{
    font-weight: 600;
    color: #E8661B !important;
}

.bothButtonSpace{
    margin-right: 15px;
}

#tabHeadingFontWeight{
    font-weight: 600;
}


