.CourseInputLabelFont {
  font-weight: 700;
}

.quillDescription > div > div {
  height: 80px;
}

/* .quillShortDescription > div > div {
    height: 80px;
} */

.wrapShortAndLongDescription {
  display: flex;
  flex-wrap: wrap;
}

.SubmitButton {
  float: right;
}
.stackStyle {
  margin-bottom: 10px;
  margin-top: 10px;
}
.editDeleteButton {
  padding: 5px 9px !important;
  min-width: 30px;
  margin: 3px;
}

/* .MuiPaper-root .MuiPaper-elevation .MuiPaper-rounded .MuiPaper-elevation8 .MuiPopover-paper .css-3bmhjh-MuiPaper-root-MuiPopover-paper{
width: 70% !important;
} */
.courseInFilter {
  font-weight: bold;
}
.moduleInFilter {
  font-weight: bold;
}
.statusInFilter {
  font-weight: bold;
}
/* .boxInFilter{
    float: right;
} */
.applyButtonInFiltter {
  margin-left: 10px !important;
}
.papperForTable {
  width: 100%;
}
.tableContainer {
  margin-top: 24px;
}
.tableCellMargin {
  margin: 5px;
}
.tableLastCell {
  text-align: center !important;
}
.activeClassColor {
  color: green !important;
}
.inactiveClassColor {
  color: red !important;
}
.draftClassColor {
  color: orange !important;
}
.addNewCourseButton {
  margin-top: 80px !important;
  float: right;
}
/* ----------------- UPDATE COURSE CSS ----------------------- */
.courseNameGride {
  display: flex;
  margin-bottom: 16px;
}
.updateLoadingButton {
  width: 178px;
}
.divcss {
  display: contents;
}
.widthCss {
  width: 30%;
}
.typoTitle {
  font-size: 18px;
  letter-spacing: 1px;
  font-family: "Inter";
}
.expanded {
  background: #e8661b !important;
}
.typolist {
  font-size: large;
  font-family: serif;
}
.backgroundClick {
  background: #e8661b;
  color: white;
  border-radius: 8px;
}
.backgroundClick:hover {
  background: #e8661b;
  color: rgb(250, 247, 247);
}

.imgwidth {
  width: 100% !important;
}

.fontCS {
  font-weight: 400;
  color: #333;
  font-size: 15px;
  font-family: Inter, sans-serif !important;
}
.filedownloadcss {
  margin-top: 15px;
  font-size: 30px;
  color: #e8661b;
}
.backbtn {
  position: absolute;
  right: 25px;
}
.backbtncs {
  height: 37px;
}
.backbtncs12 {
  height: 37px;
  text-align: end;
  margin-right: 10px;
  margin-top: 20px;
}
