* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro !important";
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  padding: 0 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: #685f600d; */
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.css-sghohy-MuiButtonBase-root-MuiButton-root {
  background-color: #e8661b !important;
}

.css-jh47zj-MuiButtonBase-root-MuiButton-root {
  background-color: #e8661b !important;
}

.css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background-color: #e8661b !important;
}
.pagination .css-1omp2b7.Mui-selected {
  background-color: #e8661b !important;
}
.pagination .css-1omp2b7.Mui-selected:hover {
  background-color: rgb(255 110 8);
}
.css-1aquho2-MuiTabs-indicator {
  background-color: #e8661b !important;
}

.css-ttwr4n {
  background-color: #e8661b !important;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root:hover {
  -webkit-text-decoration: none;
  text-decoration: none;
  background-color: white !important;
}
.linercss .css-5xe99f-MuiLinearProgress-bar1 {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  -webkit-transition: -webkit-transform 0.4s linear;
  transition: transform 0.4s linear;
  transform-origin: left;
  background-color: #e8661b !important;
}
.progressCss .css-r40f8v-MuiTypography-root {
  color: #e8661b !important;
}
.css-eh8qic > .ps-menu-button:hover {
  border-top-right-radius: 23px !important;
  border-bottom-right-radius: 23px !important;
  max-width: 200px !important;
  color: white !important;
  font-size: 17px !important;
  background-color: #e8661b !important;
}
.css-16jkw2k > .ps-menu-button:hover {
  border-top-right-radius: 23px !important;
  border-bottom-right-radius: 23px !important;
  max-width: 200px !important;
  color: white !important;
  background-color: #e8661b !important;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root.Mui-selected:hover {
  background-color: #e8661b !important;
  color: white !important;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root.Mui-selected {
  background-color: #e8661b !important;
  color: white !important;
}
.Mui-focused .MuiOutlinedInput-notchedOutline {
  border: 1px solid #e8661b !important;
  /* border: 1px solid rgba(0, 0, 0, 0.87) !important; */
}
/* .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root:hover
  .MuiOutlinedInput-notchedOutline {
  border-color: #e8661b !important;
} */
.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: #e8661b !important;
}

.css-yjsfm1{
  color: #e8661b !important;

}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  color: #e8661b !important;
}
.css-1km1ehz.Mui-selected:hover {
  background-color: #e8661b !important;
}
.css-1km1ehz.Mui-selected {
  background-color: #e8661b !important;
}
.progressCss .css-u30lmt {
  margin: 0px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  color: #e8661b !important;
}
.css-1ujsas3 {
  color: #e8661b !important;
}
.linercss .css-t752vm {
  background-color: #e8661b !important;
}

.css-1ujsas3:hover {
  text-decoration: none !important;
  background-color: rgb(255, 255, 255) !important;
}

.css-1rl742m >.ps-menu-button:hover {
  background-color: #E8661B !important;
  color: white !important;
  border-top-right-radius: 23px !important;
  border-bottom-right-radius: 23px !important;
}

/* submenu inner */
.css-1a3zl6u >.ps-menu-button:hover {
  background-color: #E8661B !important;
  color: white !important;
  border-top-right-radius: 23px !important;
  border-bottom-right-radius: 23px !important;
}

/* submenu header css */
.css-16jesut >.ps-menu-button:hover{
  background-color: #E8661B !important;
  color: white !important;
  border-top-right-radius: 23px !important;
  border-bottom-right-radius: 23px !important;
}

/* auth pages label color */
.css-1ald77x.Mui-focused{
  color: #E8661B !important;
  /* border: 1px solid #e8661b !important; */
}