* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro !important";
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  padding: 0 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: #685f600d; */
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.css-sghohy-MuiButtonBase-root-MuiButton-root {
  background-color: #e8661b !important;
}

.css-jh47zj-MuiButtonBase-root-MuiButton-root {
  background-color: #e8661b !important;
}

.css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background-color: #e8661b !important;
}

.css-1aquho2-MuiTabs-indicator {
  background-color: #e8661b !important;
}

.GlobalTextColor {
  color: #e8661b !important;
}

.css-ttwr4n {
  background-color: #e8661b !important;
}
.GlobalTextColor {
  color: #e8661b !important;
}
