.wrapper1 {
  width: 100% !important;
  height: 100vh !important;
  display: flex !important;
  flex-direction: column !important;
  background: #fff !important;
}
.wrapper2 {
  padding: 30px !important;
  text-align: center !important;
}
.h1 {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
  font-size: 2em !important;
  letter-spacing: 3px !important;
  color: #e8661b !important;
  margin: 0 !important;
  margin-bottom: 20px !important;
}
.wrapper2 .p {
  margin: 0 !important;
  font-size: 1.3em !important;
  color: #5a6873 !important;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
  letter-spacing: 1px !important;
}
.gohome {
  cursor: pointer !important;
  color: #fff !important;
  border: none !important;
  padding: 10px 50px !important;
  margin: 30px 0 0 !important;
  border-radius: 5px !important;
  text-transform: capitalize !important;
  text-decoration: none !important;
  background-color: #e8661b !important;
  font-weight: 500 !important;
  font-size: 18px !important;
  text-transform: capitalize !important;
  margin-top: 20px !important;
  font-weight: 500 !important;
}

@media (min-width: 360px) {
  .h1 {
    font-size: 2rem !important;
  }
  .gohome {
    margin-bottom: 0px !important;
  }
}

@media (min-width: 600px) {
  .content {
    max-width: 1000px !important;
    margin: 0 auto !important;
  }
  .wrapper1 {
    height: initial !important;
    max-width: 620px !important;
    margin: 0 !important;
    margin-top: 0px !important;
    margin-top: 0 !important;
    box-shadow: none !important;
    position: absolute !important;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%) !important;
    min-height: 330px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
}

@media (min-width: 360px) {
  .content {
    max-width: 1000px !important;
    margin: 0 auto !important;
  }
  .wrapper1 {
    height: initial !important;
    max-width: 620px !important;
    margin: 0 !important;
    margin-top: 0px !important;
    margin-top: 0 !important;
    box-shadow: none !important;
    position: absolute !important;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%) !important;
    min-height: 330px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
}
