.profileImageBox{
    float: left;
    justify-content: center;
    /* width:450px; */
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
}

.cameraIcon{
    right: 17px;
    color: white;
    position: relative;
    background: #1a73e8;
    padding: 5px !important;
    border-radius: 50%;
}