.combineContentAndSidebar {
  height: 100%;
  display: flex;
  top: 65px;
  width: 100%;
}

.activeMenuItem {
  border-top-right-radius: 23px !important;
  border-bottom-right-radius: 23px !important;
  max-width: 200px !important;
  color: white !important;
  background-color: #e8661b !important;
}

.nonActiveMenuItem {
  border-top-right-radius: 23px !important;
  border-bottom-right-radius: 23px !important;
  max-width: 200px !important;
  /* color:#E8661B !important; */
}

.footerContainercss {
  width: 100%;
  padding: 15px;
  position: absolute;
  background: white;
  bottom: 0px;
  border-top: 1px solid #685f601f;
  text-align: center;
  color: #7c7c7c;
}

.siteBodyContainer {
  padding: 16px !important;
  width: 100% !important;
  background: #685f600d !important;
}

.asideTag {
  min-height: calc(100vh - 65px);
}

.wholeWebsiteButtonColor {
  color: #e8661b !important;
}

#muibuttonBackgroundColor {
  background-color: #e8661b !important;
}


