.combineContentAndSidebar{
  height: -webkit-fill-available;
  display: flex;
  position: absolute;
  top: 65px;
  width: 100%;
}

.activeMenuItem{
  border-top-right-radius: 23px !important;
  border-bottom-right-radius: 23px !important;
  max-width: 200px !important;
  color: white !important;
  background-color: black !important;
}

.nonActiveMenuItem{
  border-top-right-radius: 23px !important;
  border-bottom-right-radius: 23px !important;
  max-width: 200px !important;
}

.footerContainercss{
    width: 100%;
    padding: 15px;
    position: absolute;
    background: white;
    bottom: 0px;
    border-top: 1px solid #685f601f;
    text-align: center;
    color:#7C7C7C;
}