.subscription {
  text-align: center;
}
.mainSubsDiv {
  background-color: #e5e5e5;
}
.maindisplay {
  display: flex;
}
.fontCSS {
  padding: 4px !important;
  color: #646363 !important;
}
.useNameFront {
  color: #4e4a4a !important;
  font-weight: bold !important;
}
.btncss {
  text-align: end;
}
.headingcss {
  font-weight: bold !important;
}
.fontCSS1 {
  font-weight: 400 !important;
  line-height: 1.6 !important;
  color: #333 !important;
  font-size: 20px !important;
  font-family: Inter, sans-serif !important;
}
.useNameFront1 {
  color: #242222 !important;
  font-weight: 700 !important;
  margin-top: 30px !important;
  margin-bottom: 15px !important;
}
.shadoww {
  box-shadow: none !important;
}
.moduletextcss {
  font-size: 18px;
  color: #232323;
  font-weight: 500;
  text-transform: uppercase;
}
.iconcss {
  color: #e8661b;
  position: relative;
  top: 5px;
}
.btncss {
  margin-left: 23px;
  margin-top: 19px;
  background: #e8661b;
}
.useNameFront2 {
  color: #242222 !important;
  font-weight: 700 !important;
  margin-top: 30px !important;
  margin-bottom: 15px !important;
  margin-left: 10px !important;
}
.btncss1 {
  text-align: end;
}
.subsbtn {
  width: 18%;
}

.useSubsMessage {
  color: #e8661b;
  font-weight: bold;
  text-decoration: underline;
  font-size: 18px;
}
.maindisplay1 {
  display: flex;
  float: right;
  padding: 10px;
}
.useSubsCancell {
  color: #4e4a4a;
  font-size: 18px;
}

@media (min-width: 1400px) and (max-width: 1700px) {
  .mediaque {
    margin-left: 10%;
    margin-right: 10%;
  }
}
@media (min-width: 1700px) and (max-width: 2000px) {
  .mediaque {
    margin-left: 15%;
    margin-right: 15%;
  }
}
@media (min-width: 2000px) and (max-width: 2300px) {
  .mediaque {
    margin-left: 20%;
    margin-right: 20%;
  }
}
@media (min-width: 2300px) {
  .mediaque {
    margin-left: 25%;
    margin-right: 25%;
  }
}
