.subscription {
    text-align: center;
}
.mainSubsDiv{
    background-color: #e5e5e5;
}
.maindisplay{
    display: flex;
}
.fontCSS{
    padding: 4px;
    color: #646363;
}
.useNameFront {
    color: #4e4a4a;
    font-weight: bold;
}
.btncss{
    text-align: end;
}
.headingcss{
    font-weight: bold;
}