.subscription {
  text-align: center;
}
.mainSubsDiv {
  background-color: #e5e5e5;
}
.maindisplay {
  display: flex;
}
.fontCSS {
  padding: 4px;
  font-weight: 600;
}
.useNameFront {
  color: #4e4a4a !important;
  font-weight: bold !important;
}
.btncss {
  text-align: start;
}
.headingcss {
  font-weight: bold !important;
}

.fontCSS1 {
  font-weight: 400;
  line-height: 1.6;
  color: #333;
  font-size: 20px;
  font-family: Inter, sans-serif !important;
}
.useNameFront1 {
  color: #242222 !important;
  font-weight: 700 !important;
  margin-top: 30px !important;
  margin-bottom: 15px !important;
}
.shadoww {
  box-shadow: none !important;
}
.moduletextcss {
  font-size: 18px;
  color: #232323;
  font-weight: 500;
  text-transform: uppercase;
}
.iconcss {
  color: #e8661b;
  position: relative;
  top: 5px;
}
.btncss {
  margin-left: 23px;
  margin-top: 19px;
  background: #e8661b;
}
.useNameFront2 {
  color: #242222;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 15px;
  margin-left: 10px;
}
.btncss1 {
  text-align: start;
}
.subsbtn {
  width: 18%;
}

.useSubsMessage {
  color: #e8661b;
  font-weight: bold;
  text-decoration: underline;
  font-size: 18px;
}
.maindisplay1 {
  display: flex;
  float: right;
  padding: 10px;
}
.useSubsCancell {
  color: #4e4a4a;
  font-size: 18px;
}

@media (min-width: 1400px) and (max-width: 1700px) {
  .mediaque {
    margin-left: 10%;
    margin-right: 10%;
  }
}
@media (min-width: 1700px) and (max-width: 2000px) {
  .mediaque {
    margin-left: 15%;
    margin-right: 15%;
  }
}
@media (min-width: 2000px) and (max-width: 2300px) {
  .mediaque {
    margin-left: 20%;
    margin-right: 20%;
  }
}
@media (min-width: 2300px) {
  .mediaque {
    margin-left: 25%;
    margin-right: 25%;
  }
}

.videodisplay div {
  display: contents !important;
}

/* admin page css */
.filterBox {
  font-weight: bold;
}
.filterForm {
  margin-top: 8px;
}
.mainFilterBox {
  float: right;
  display: flex;
  align-items: center;
}
.popStateFilterButton {
  display: inline-flex;
  color: #e8661b !important;
}
.editDeleteButton {
  padding: 5px 9px !important;
  min-width: 30px;
  margin: 3px !important;
}

.MuiPaper-root
  .MuiPaper-elevation
  .MuiPaper-rounded
  .MuiPaper-elevation8
  .MuiPopover-paper
  .css-3bmhjh-MuiPaper-root-MuiPopover-paper {
  width: 70% !important;
}

.statusInFilter {
  font-weight: bold;
}
.boxInFilter {
  float: right;
}
.applyButtonInFiltter {
  margin-left: 10px !important;
}
.papperForTable {
  width: 100% !important;
}
.tableHeadingForId {
  font-weight: bold !important;
}
.tableContainer {
  margin-top: 24px;
}
.tableCellMargin {
  margin: 5px;
}
.tableLastCell {
  text-align: center !important;
}
.activeClassColor {
  color: green !important;
}
.inactiveClassColor {
  color: red !important;
}
.draftClassColor {
  color: orange !important;
}
.stackStyle {
  margin-bottom: 10px;
  margin-top: 10px;
}
.textareaManuallyStyle {
  height: 64px;
  width: 100%;
  border: 1px solid #d3d3d3d4;
  padding: 16.5px 14px;
  border-radius: 4px;
  font: inherit;
  letter-spacing: inherit;
}
.InputLabelFont {
  font-weight: 700 !important;
}
.sessionNameGride {
  display: flex;
  margin-bottom: 16px;
}
.cancelButton {
  margin: 10px !important;
  background-color: #1976d2 !important;
  color: white;
}
.updateLoadingButton {
  width: 105px !important;
  padding: 9px 22px !important;
}
