.appBarCss {
  background: #fff !important;
  color: #000 !important;
  box-shadow: 0 1px 1px 0 rgba(136, 133, 133, 0.2) !important;
  border-bottom: 1.2px solid #0000001f !important;
}
.appBarToolbarCss {
  min-height: 85px !important;
}
.windowFullWidthNameAlign {
  margin: 12px 0px 12px 60px !important;
  font-size: 17px !important;
}
.windowFullWidthNameAlign:hover {
  color: #e8661b !important;
  cursor: pointer !important;
  transition: 0.3s !important;
}

.appBarFooterCss {
  background: #1976d214 !important;
  color: #000 !important;
  box-shadow: 0 1px 1px 0 rgba(136, 133, 133, 0.2) !important;
  border-bottom: 1.2px solid #0000001f !important;
}
.appBarFooterToolbarCss {
  justify-content: center !important;
  flex-wrap: wrap !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.windowFullWidthNameAlignfooter {
  margin: 12px 0px 12px 60px !important;
  font-size: 14px !important;
}

.windowFullWidthNameAlignfooters {
  margin: 12px 0px 12px 60px !important;
  font-size: 14px !important;
}

.windowFullWidthNameAlignfooter:hover {
  color: #e8661b !important;
  cursor: pointer !important;
  transition: 0.3s !important;
}

.windowFullWidthAvatar {
  width: 35px !important;
  height: 35px !important;
  margin-top: -2px !important;
}
